$orange: #ffa600;
$green: #c1d72e;
$blue: #5ba4b7;
$grey: #f3f3f3;
$grey_2:  #a1a2a3;
$white: #fff;
$black: #000;
$base-color: $green;

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$base-font-xs: 9;
$base-font-sm: 9;
$base-font-md: 11;
$base-font-lg: 12;
$base-font-xl: 14;
