// 이번에 하면서 BEM 방식 ( class naming 할때의 방법론) 적용해보고 반응형 처리하는 여러가지 방법들에 대해서도 추가적인 공부가 필요하다잉

@import '_variable.scss';
@import '_mixin.scss';


@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato&family=Press+Start+2P&display=swap');
/* element css - base setting */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

/* css  */
html {
  -webkit-user-drag: none;
  @include respond-below(sm) {
    font-size: $base-font-xs + px !important;
  }
  @include respond-between(sm, md) {
    font-size: $base-font-sm + px !important;
  }
  @include respond-between(md, lg) {
    font-size: $base-font-md + px !important;
  }
  @include respond-between(lg, xl) {
    font-size: $base-font-lg + px !important;
  }
  @include respond-below(xl) {
    font-size: $base-font-xl + px !important;
  }
}

body {
  background-color: $base-color;
  margin: 0;
  color: $white;
  position: relative;
}

.container {
  height: 100vh;
  width: 100%;
  padding: 1rem  4rem;
  margin: auto;
}

.dashed-title {
  font-size: 1.125rem;
  width: 50%;
  margin: auto;
  text-align: center;
  border: 2px dashed $white;
  padding: 0.75rem 0;
  margin-bottom: 1.25rem;
  position: absolute;
  top: -2rem;
  transform: translateX(-50%);
  left: 50%;
  z-index: 2;
  background-color: $base-color;
}

.dashed-wrap {
  overflow: hidden;
  position: relative;
  padding: 2rem;
  border: 2px dashed $white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-wrapper {
  font-family: 'Press Start 2P', 'Do Hyeon',
  sans-serif;
  letter-spacing: 2px;
  height: 15%;
  text-align: center;
  margin-bottom: 2rem;
  @media screen and (max-width: 666px) {
    font-size: 12px;
  }
  @media screen and (max-width: 593px) {
    font-size: 10px;
  }
  @media screen and (max-width: 519px) {
    font-size: 9px;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__sub-title {
    margin-bottom: 1rem;
  }
}

.problem-header-wrapper {
  font-family: 'Do Hyeon',
  sans-serif;
  display: none;
  text-align: center;
  height: 6.9rem;
  padding: 2rem 0 0 0 ;
  border: 4px solid $white;
  padding: 2rem 0;
  border-bottom: none;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  &__count {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  &__content {
    font-size: 1.25rem;
  }
}

.start-wrapper {
  font-family: 'Press Start 2P',
  'Do Hyeon',
  sans-serif;
  position: relative;
  height: calc(100% - 15% - 2rem);
  &__title {
    @media screen and (max-width: 736px) {
      width: 100%;
    }
  }
  &__wrap {
    height: 100%;
  }
  &__button {
    border: 2px dashed $white;
    background-color: $black;
    padding: 1.25rem 2rem;
    font-size: 1.25rem;
    color: $white;
    &:hover {
      background-color: $white;
      border-color: $black;
      color: $black;
    }
  }
}

.category-wrapper {
  font-family: 'Press Start 2P',
  'Do Hyeon',
  sans-serif;
  position: relative;
  display: none;
  width: 100%;
  height: calc(100% - 15% - 2rem);
  &__title {
    letter-spacing: 2px;
    @media screen and (max-width: 710px) {
      width: 100%;
    }
  }
  &__wrap {
    height: 100%;
    &__category {
      cursor: pointer;
      text-align: center;
      padding: 1rem;
      width: 20%;
      height: 10rem;
      margin: 1rem 1%;
      font-size: 1.15rem;
      font-weight: bold;
      border: 2px dashed $white;
      transition: all 0.45s;
      @include flex;
      &:hover {
        background-color: $white;
        color: $base-color;
      }
      @media screen and (max-width: 1000px) {
        height: 10rem;
        width: 31.3333%;
      }
      @media screen and (max-width: 710px) {
        height: auto;
        width: 48%;        
      }
    }
  }
}

.problem-container {
  padding: 2rem;
  border: 4px solid $white;
  height: calc(100% - 6.9rem);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  display: none;
}

.alphabet-wrapper {
  font-family: 'Lato',
  sans-serif;
  font-weight: bold;
  width: 60%;
  height: 28%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  @include flex;
  padding: 1rem;
  border: 4px dashed $orange;
  @media screen and (max-width: 978px) {
    width: 100%;
  }
  @media screen and (max-width: 696px) {
    border: none;
    padding: 0;
  }
  &__alphabet {
    @include flex;
    align-self: center;
    // font-weight: bold;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: $white;
    color: $base-color;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    @media screen and (min-width:1198px) and (max-width: 1480px) {
      width: 2.35rem;
      height: 2.35rem;
    }
    @media screen and (max-width: 522px) {
      width: 2rem;
      height: 2rem;
    }
    &:hover {
      background-color: $base-color;
      color: $white;
      border: 1px solid $white;
    }
    &.disabled {
      opacity: 0.5;
      &:hover {
        background-color: $white;
        color: $base-color;
        border: none;
      }
    }
  }
}

.problem-wrapper {
  height: 25%;
  
  &__chosen-category {
    margin-bottom: 1rem;
    width: 100%;
    @include flex;
  }
  &__problem {
    @include flex;
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 1rem;
    border: 2px dashed $white;
    width: 50%;
    margin: auto;
    font-weight: bold;
    div {
      @include flex;
    }
  }
  &__spelling {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__my-lives {
    @include flex;
    margin-top: 1rem;
    font-family: 
    'Do Hyeon',
    sans-serif;
  }
  &__clue {
    @include flex;
    margin-top: 1rem;
    font-family: 
    'Do Hyeon',
    sans-serif;
  }
}

.canvas-wrapper {
  padding: 1rem 2rem;
  height: 30%;
  margin-bottom: 1rem;
  @include flex;
  canvas {
    height: 100%;
    color: $white;
    border: 4px dashed $white;
    padding: 2rem;
    background-color: $base-color;
  }
}

.button-wrapper {
  height: calc(100% - 83% -  3rem);
  @include flex;
  width: 80%;
  width: calc(50% + 2rem);
  margin: auto;
  border: 2px dashed $white;
  @media screen and (max-width: 919px) {
    width: 100%;
  }
  button {
    font-family: 'Press Start 2P', cursive;
    width: 33.3333%;
    background-color: $base-color;
    color: $white;
    height: 100%;
    font-size: 1.25rem;
    @include flex;
    &:nth-child(1),
    &:nth-child(2) {
      border-right: 2px dashed $white;
    }
    &:hover {
      background-color: $white;
      color: $base-color;
    }
  }
}

.progress-wrapper {
  width: 100%;
  border: 3px dashed $white;
  display: none;
  height: calc(100% - 15% - 2rem);
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  &__loading-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: blink-effect 1s step-end infinite;
  }
}

.progress {
  position: relative;
  height: 10px;
  width: 100%;
  border: 10px solid $white;
  border-radius: 15px;
  display: block;
}
.progress .color {
  top: -5px;
  position: absolute;
  background-color: $base-color;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;
  animation-duration: 2s;
}

.congratulation-modal {
  position: absolute;
  background-color: rgba(100, 100, 100, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  @include flex;
  display: none;
  &__wrap {
    width: 35rem;
    height: 25rem;
    background-color: $grey_2;
    color: $black;
    flex-direction: column;
    @include flex(flex-start, center);
    border-radius: 20px;
  }
  &__title {
    @include flex;
    width: 100%;
    height: 15%;
    font-size: 1.25rem;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: $orange;
    span {
      color: $white
    }
  }
  &__content {
    width: 100%;
    height: 65%;
    text-align: center;
    line-height: 1.5;
    font-size: 1.125rem;
    @include flex;
    flex-direction: column;
    color: $white;
    font-weight: bold;
    span {
      &:first-child {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
      &:nth-child(3) {
        margin-bottom: 3rem;
      }
    }
  }
  &__button-wrap {
    width: 100%;
    height: 20%;
    @include flex;
    button {
      width: 50%;
      height: 65%;
      background-color: $blue;
      color: $white;
      border-radius: 10px;
      font-size: 1.125rem;
      &:hover {
        background-color: $black;
      }
    }
  }
}

@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-effect {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
